<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jungle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/jungle.css')}}"
    />
  </head>
  <body>
    <header>
      <a href="/jungle" style="text-decoration: none"
        ><h2 class="logo">Jungle</h2></a
      >
      <nav class="navigation">
        <a href="/" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
    </header>

    <section class="parallax">
      <img
        src="{{url_for('static', filename='images/Jungle/hill1.png')}}"
        id="hill1"
        alt="hill1"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/hill2.png')}}"
        id="hill2"
        alt="hill2"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/hill3.png')}}"
        id="hill3"
        alt="hill3"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/hill4.png')}}"
        id="hill4"
        alt="hill4"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/hill5.png')}}"
        id="hill5"
        alt="hill5"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/tree.png')}}"
        id="tree"
        alt="tree"
      />
      <h2 id="text">Jungle Parallax</h2>
      <img
        src="{{url_for('static', filename='images/Jungle/leaf.png')}}"
        id="leaf"
        alt="leaf"
      />
      <img
        src="{{url_for('static', filename='images/Jungle/plant.png')}}"
        id="plant"
        alt="plant"
      />
    </section>

    <section class="sec">
      <h2>Jungle Parallax Website</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Potenti nullam ac
        tortor vitae purus faucibus ornare suspendisse. Donec ac odio tempor
        orci dapibus ultrices. Aliquet porttitor lacus luctus accumsan tortor.
        Nunc mattis enim ut tellus elementum. Euismod nisi porta lorem mollis
        aliquam ut porttitor leo. Eu consequat ac felis donec et odio
        pellentesque. Mauris a diam maecenas sed. Diam maecenas ultricies mi
        eget mauris pharetra. Gravida rutrum quisque non tellus orci ac auctor
        augue mauris. Ac orci phasellus egestas tellus. Sed vulputate mi sit
        amet mauris commodo quis imperdiet massa. Vitae sapien pellentesque
        habitant morbi tristique senectus et netus. Risus at ultrices mi tempus.
        Mollis aliquam ut porttitor leo a. Fusce ut placerat orci nulla
        pellentesque. Convallis tellus id interdum velit laoreet id donec
        ultrices tincidunt. Diam maecenas sed enim ut. Diam quam nulla porttitor
        massa id neque aliquam vestibulum. <br />
        <br />
      </p>
    </section>

    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/jungle.js')}}"
    ></script>
  </body>
</html>
