<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mountain Parallax</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/mountain.css')}}"
    />
  </head>

  <body>
    <header>
      <a href="#" class="logo">Mountain</a>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>

    <section>
      <img
        src="{{url_for('static', filename='images/Mountain/stars.png')}}"
        id="stars"
        alt="stars"
      />
      <img
        src="{{url_for('static', filename='images/Mountain/moon.png')}}"
        id="moon"
        alt="moon"
      />
      <img
        src="{{url_for('static', filename='images/Mountain/mountains_behind.png')}}"
        id="mountains_behind"
        alt="mountains_behind"
      />
      <h2 id="text">Mountain</h2>
      <a href="#" id="btn">Explore</a>
      <img
        src="{{url_for('static', filename='images/Mountain/mountains_front.png')}}"
        id="mountains_front"
        alt="mountains_front"
      />
    </section>
  </body>
</html>
